.contact {
    min-height: 528x;
    padding: 93px 0 188px 0;
    background-color: $bg-color;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        .portfolio-link,
        .social-network,
        .email-phone {
            width: 33%;
        }

        div {
            a {
                display: block;
                color: $text-color;
            }
        }
    }

}